@charset "utf-8";

        body :not(){
            background-image: url(../img/background.jpg);
        }
         /* div{outline: 1px solid red;} */
        div.container{
            /* outline: 1px solid blue; */
        }
        *{box-sizing: border-box;}
        .container{
            /* outline: 1px solid red; */
            height: 180px;
          display: flex;
          justify-content: center;
          margin-top: 100px;
        }
        .login-wrapper{
            border-radius: 10px;
            padding: 10px;
            /* outline: 1px solid black; */
            width: 200px;
            background-color: antiquewhite;
        }
        .login-content > div{
            margin: 10px 0;
        }
        .login-content input{
            width: 100%;
            border: 1px solid gray;
        }
        .login-content input[type="submit"]{
            background-color: #010101;
            color: white;
            font-weight: 900;
        }
        .login-title{
            text-align: center;
            font-family: 'jua';
            line-height: 0px;
            font-size: 2em;
        }
        #loginForm{
            border-bottom: 1px solid gray;
            padding: 10px;
        }
        #id, #pw,#loginBtn{
            padding: 5px;
            border-radius: 5px;
        }

        /*비번찾기*/
        .find_info{
            margin-top: 20px;
            font-size: 0.8rem;
            color: gray;
            text-align: center;
        }
        .find_info > a{
            text-decoration: none;
            font-weight: 700;
            color: gray;
        }
        .find_info > a:hover{
            text-decoration: underline;
        }

        /*오류메시지를 표현하기 위한 클래스*/
        .errmsg{
          color: red;
          font-size: 0.5em;
          /* font-weight: bold; */
        }
        .logo{
            /* outline: 1px solid red; */
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
        }
        .entirebox{
            position: relative;
            top: 200px;
 }
        p{text-align: center;
            font-family: 'jua';
        }
        