@charset "utf-8";


*{
    
    
}
div{
    box-sizing: border-box;
    
}
form{
    margin-top: 50px;
}
.container1{
    display: flex;
    justify-content: center;
}
.content{
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 600px;
}
.content div{
    flex: 1 1 300px;
    /* width: 100%; */
}
.content div:nth-child(3)
,.content div:nth-child(6),
.content div:nth-child(9),
.content div:nth-child(12),
.content div:nth-child(15),
.content div:nth-child(18) {
/*   border:1px solid gray; */
  padding:1px;
  padding-left:10px;
/*   border-radius: 5px; */
}
input{width: 270px;}

button, select{
    width: 100%;
    border-radius: 5px;
}
input[type=radio]{
    width: auto;
}
.join-title{
    text-align: center;
}
.errmsg{
    color: red;
    font-size: 0.7em;
    font-weight: bold;
}
#modifyBtn{
    background-color: #010101;
    color: white;
    font-weight: 900;
    border: 1px solid black;
    padding: 5px;
}
  .abstr{
        width:100%;
        height: 250px;}